
{extend name="base" /}

{block name="title"}快递查询{/block}


{block name="main"}
<!-- 内容区域 -->

<div class="tpl-content-wrapper">
    <div style="padding:20px">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title am-fl" style="color:#3399FF">快递查询</div>
                        <div class="widget-function am-fr">
                            <a href="/admin/index" class="am-icon-close">返回首页</a>
                        </div>
                    </div>
                    <div class="widget-body am-fr">

                        <form class="am-form tpl-form-line-form" method="post" id="myform" enctype="multipart/form-data">
                            <div class="am-form-group">
                                <label for="user-name" class="am-u-sm-3 am-form-label">快递公司 <span class="tpl-form-line-small-title">company</span></label>
                                <div class="am-u-sm-9">
                                    <input type="text" class="tpl-form-input" id="user-name" placeholder="请输入快递公司" name="companyname">
                                </div>
                            </div>
                           <div class="am-form-group">
                                <label class="am-u-sm-3 am-form-label">快递单号 <span class="tpl-form-line-small-title">kdnum</span></label>
                                <div class="am-u-sm-9">
                                    <input type="text" placeholder="输入快递单号" name="kdnum">
                                </div>
                            </div>
                            <div class="am-form-group">
                                <div class="am-u-sm-9 am-u-sm-push-3">
                                    <button type="button" class="am-btn am-btn-primary tpl-btn-bg-color-success " id="sub">提交</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <span><a href="__ADMIN__/api_kuaidi.doc"/>快递公司名称查看</a> </span>
                    <div id="jieguo" class="widget-body am-fr">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $("#sub").on("click",function(){
            $("#myform").ajaxSubmit(
                    //ajax表单提交
                    {
                        url: "/api/admin/kucxadd",
                        type: 'post',
                        dataType: 'json',
                        beforeSubmit: function () {},
                        success: function (return_msg) {
                            if (return_msg.code == 200) {
                                $('#jieguo').html(return_msg.msg);
                            } else {
                                AMUI.dialog.alert({
                                    title: '错误信息',
                                    content: return_msg.msg,
                                    onConfirm: function() {
                                        console.log('close');
                                    }
                                });
                            }
                        },
                        clearForm: false,//禁止清楚表单
                        resetForm: false //禁止重置表单
                    });
        })
    </script>
</div>
{/block}
{block name="footer"}{/block}






